* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.btn {
  padding: 7px 40px;
  color: #fff;
  background-color: #e7332b;
  border: 1px solid #e7332b;
  border-bottom-right-radius: 20px;
  font-size: 20px;
  font-weight:400;
}

.btn:hover {
  color: #fff;
}

.section1 {
  margin-top: 20%;
  position: relative;
}

.h2 {
  position: relative;
}

.h2-img {
  position: absolute;
  right: 33%;
  top: 40%;
}
.flex-p {
  width: 60%;
}

.flex-img {
  width: 30%;
  /* position: relative; */
}

.line1 {
  position: absolute;
  right: 4%;
  bottom: 30%;
  width: 12%;
}

.join-btn {
  background-color: rgb(88, 88, 88);
  border-color: rgb(88, 88, 88);
}


/* section2 */
.section2 {
  background-image: url(../newimages/bgsection2.063bd869082548bafa74.png);
  background-size: cover;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.country {
  margin:0px 16px 0px 0px;
  padding: 7px;
  background-color: #fff;
  border-radius: 10px;
}

/* section3 */
.section3 {
  background-color: rgb(255, 248, 229);
  position: relative;
}
.skills-btn {
  width: fit-content;
  padding: 20px 40px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 8px 30px hsla(0,0%,48%,.16);
}

.btn-container:hover {
  transform: translateY(-20px);
  transition: 0.5ms;
}

.btn-wrapper {
  flex-wrap: wrap;
}

.line1b {
  position: absolute;
  right: 7%;
  top: 277%;
  width: 20%;
}

/* section4 */
.section4 {
  background-color: rgb(255, 248, 229);
  position: relative;
}

.rope {
  position: absolute;
  left: -5%;
  top: 55%;
  width: 400px;
}

.talent-box-wrapper{
  display: flex;
  flex-wrap: wrap;
}
.talent-box{
  background-color: #fff;
}
.talent-box:hover {
  background-color: black;
  color: #fff;
}

.cr{
  margin-left: 15%;
}


/* footer */

.talent-footer {
  background-color: rgb(22, 22, 23);
  padding-top: 5%;
}







@media (max-width: 930px) {
  .vetted, .headcon{
      flex-direction: column;
      gap: 40px;
  }
  .flex-p, .flex-img {
    width: 100%;
  }
  
  .flag, .circle {
    width: 100%;
  }}
